/*html settings*/
html{
    font-size: 16px;
    color:beige;
}

body{
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    height:100vh;
    display:flex;
    position: relative;
    margin :1em;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;        
}

.content-box1{
    height:15%;
    width:100%;
    display:flex;
    justify-content: center;
}

.content-box2{
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box3{
    height: 10%;
    margin: 20px 0 50px 0;
    display: flex;
    align-items: flex-end;
}

#logout-form{
    flex-basis: 33%;
    text-align: left;
}

#greeting{
    flex-basis: 34%;
    text-align: center;
}

#weather{
    flex-basis: 33%;
    text-align: right;
}

#quote{
    text-align: center;
    font-weight: bold;
}

#clock{
    margin : 20px 0;
    font-family: fantasy;
    font-weight: bold;
    font-size: 15rem;
}

button {
    background-color: black;
    color:beige;
}

button:hover {
    background-color: beige;
    color:black;
}

#todo-form {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#todo-form input {
    width: 40%;
    height: 20px;
    margin-bottom: 1em;
}

#todo-list{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*attribute settings*/

.hidden {
    display: none;
}
.flex {
    display: flex;
    
}

/*smart phone(iphone6/7/8)*/
@media ( max-width: 768px ) {
    html{
        font-size: 12px;
        color:burlywood;
    }

    .content-box2{
        width:80%
    }

    #clock{
        font-size: 5rem;
    }

    #todo-form {
        width: 60%;
    }
    
    #todo-form input {
        width:95%;
        margin-bottom: 1em;
    }

    #todo-list{
        width: 50%;
        font-weight: bold;
        color:gold;
    }
    
    #greeting{
        font-size: small;
    }
    
  }



